
 /* Por favor usem as variaveis para facilitar a configuração do modo escuro  */
 /* Usem tbm o 'rem' inves do px, nas letras para facilitar a resposividade */
 
 /*
 Exemplo de como usar as variaveis de cor e o rem
 .componente{
    font-size: 30rem;
    background-color:var(--F6F6F6);
    color:var(--laranja);
    border-color:var(--azul);
 } 
As variaveis estão declaradas no arquivo global.css
Não é necessário copiar as variaveis aqui ,apenas use o var(--variavel);
    
 */
 /* *{
   border: 1px solid red;
 } */
 .card{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   border: solid 1px;
   border-radius: 15px;
   width: 100%;
   height: 10px;
   
 }
 .card h3{
   font-size: 14px;
   color: var(--cinza);
 }
 .card a{
   font-size: 25px;
   color:var(--azul);
 }
